[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/USBT"]
	path = lib/USBT
	url = https://github.com/eldief/USBT
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
